
.container{
    display: flex;
    flex-direction: column;
    /* margin:12px */
}

.title{
    color: var(--blackColor);
    font-family: var(--fontRegular);
    font-size: var(--textXs);
    margin-bottom: 3px;
}


.inputBox{
    border-radius: 8px;
    padding-left: 10px;
    outline: unset;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.inputBox:hover, .inputBox:focus{
    border: 1px solid #f2718d;
}